Recover password

Hi {{name}}, We received a password recovery request to your email: {{email}}.
If you were not the author of this request, it would be interesting to change your account password.
To continue with password recovery use the token: {{token}} or click on the link below

Create new password
