<strong>Recuperando senha</strong>

<p>Olá {{name}}, recebemos uma solicitação de recuperação de senha para o seu e-mail: {{email}}.</p>
<p>Se você não foi o autor dessa solicitação, seria interresante trocar a sua senha</p>
<p>Para continuar com a recuperação de senha use o token: {{token}} ou click no link abaixo</p>

<a href = "{{link}}">Criar nova senha </a>
