<h3>Seja muito bem vindo ao melhor site de apostas {{name}}</h3>
<p>Estamos muito felizes com a sua adesão ao nosso site</p>
<p>Aqui você pode realizar varias apostas, e quem sabe sair daqui milionário :) </p>
<a href = "{{link}}">Acesse o nosso site</a>
